.sidebar {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}
.bar1,
.bar2 {
  display: flex;
  gap: 15px;
}
body {
  display: flex;
  justify-content: center;
  background-color: #faf5f5;
}
